<div class="app">
    <div id="tabs">
        <div id="tab-record" class="tab" (click)="activeTab = tabs.RECORD" [class.active]="activeTab=== tabs.RECORD">
            Record</div>
        <div id="tab-play" class="tab" (click)="activeTab = tabs.PLAY" [class.active]="activeTab=== tabs.PLAY">Play
        </div>
    </div>

    <div id="content-record" class="tab-content" *ngIf="activeTab === tabs.RECORD" >
        <button id="startRecording" (click)="startRecording()">Start Recording</button>
        <button id="stopRecording" (click)="stopRecording()">Stop Recording</button>
    </div>

    <div id="content-play" class="tab-content" *ngIf="activeTab === tabs.PLAY" >
        <input type="file" id="importFile" style="display:none;" />
        <label for="playCount">Run Recording:</label>
        <input type="number" [(ngModel)]="playCount" id="playCount" min="1" value="1">
        <label for="playDelay">Delay (ms):</label>
        <input type="number" [(ngModel)]="playDelay" id="playDelay" min="0" value="0">
        <button id="playRecording" (click)="playRecording()">Play Recording</button>
        <button id="stopPlaying" (click)="stopRecordingPlay()">Stop Playing</button>
        <button id="exportRecording" (click)="exportRecording()">Export Recording</button>
        <button id="importRecording" (click)="importRecording()">Import Recording</button>
        <button id="exportResult" (click)="exportResult()">Export Result</button>
        <div id="progress">{{progress}}</div>
    </div>
</div>